@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,600;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #557C6C;
    --secondary-color: #424242;
    --primary-font: Cormorant;
    --secondary-font: proxima nova;

}

.header{
    width: 100%;
    background-image: url(images/banner.jpg);
    background-color: whitesmoke;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    /* position: absolute; */
}

.navbar{
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: 600;
    color: var(--primary-color);
}

.nav-item{
    padding-left: 30px;
    padding-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    padding-left: 0;
    padding-right: 0;
}

.nav-link:hover{
    color: var(--secondary-color);
}

.textbox{
    color: whitesmoke;
    margin-top: 200px;
    text-align: center;
}

.textbox-header{
    font-family: var(--primary-font);
    font-size: 84px;
    margin-bottom: 10px;
}

.textbox-p{
    width: 35%;
    margin: 0 auto;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}

.textbox-btn{
    color: whitesmoke;
    border: 2px solid whitesmoke;
    box-sizing: border-box;
    padding: 15px 30px;
    font-family: var(--secondary-font);
    font-size: 18px;
    background: transparent;
    margin-top: 30px;
    transition: 0.5s ease;
    cursor: pointer;
} 

.textbox-btn:hover{
    background-color: var(--primary-color);
    border: var(--primary-color);
    box-shadow: none;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.about-text{
    width: 50%;
}

.about-us img{
    height: 650px;
    width: auto;
    margin-top: 70px;
}


.about-header{
    display: flex;
    align-items: center;
}

.span-h1{
    margin-bottom: 0;
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 200px;
    font-weight: bold;
    position: relative;
    margin: 0;
    opacity: 0.1;
}

.span-text{
    font-family: var(--primary-font);
    font-size: 54px;
    font-weight: 600;
    color: var(--primary-color);
    margin-left: -80px;
    padding-top: 20px;
}

.about-info{
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 18px;
}




.services{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.services-text{
    width: 100%;
    /* text-align: center;
    /* margin: auto;
    display: block; */ 
}

.services-header{
    display: flex;
    /* text-align: center;  */
    align-items: center;
    justify-content: center;
}

