@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,600;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root{
    --primary-color: #557C6C;
    --secondary-color: #424242;
    --primary-font: Cormorant;
    --secondary-font: proxima nova;

}

.header{
    width: 100%;
    background-image: url(images/banner.jpg);
    background-color: whitesmoke;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    /* position: absolute; */
}

.navbar{
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    /* height: 60px; */
}

.navbar-brand{
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: 600;
    color: var(--primary-color);
}

.nav-item{
    padding-left: 30px;
    padding-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    padding-left: 0;
    padding-right: 0;
}

hr{
    background-color: var(--primary-color);
    height: 2px;
}

.nav-link:hover{
    color: var(--secondary-color);
}

.textbox{
    color: whitesmoke;
    margin-top: 200px;
    text-align: center;
}

.textbox-header{
    font-family: var(--primary-font);
    font-size: 84px;
    margin-bottom: 10px;
}

.textbox-p{
    width: 35%;
    margin: 0 auto;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}

.textbox-btn{
    color: whitesmoke;
    border: 2px solid whitesmoke;
    box-sizing: border-box;
    padding: 15px 30px;
    font-family: var(--secondary-font);
    font-size: 18px;
    background: transparent;
    margin-top: 30px;
    transition: 0.5s ease;
    cursor: pointer;
} 

.textbox-btn:hover{
    background-color: var(--primary-color);
    border: var(--primary-color);
    box-shadow: none;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.about-text{
    width: 50%;
}

.about-us img{
    height: 650px;
    width: auto;
    margin-top: 70px;
}


.about-header{
    display: flex;
    align-items: center;
}

.span-h1{
    /* margin-bottom: 0; */
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 200px;
    font-weight: bold;
    position: relative;
    margin: 0;
    opacity: 0.1;
}

.span-text{
    font-family: var(--primary-font);
    font-size: 54px;
    font-weight: 600;
    color: var(--primary-color);
    margin-left: -80px;
    padding-top: 20px;
}

.about-info{
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 18px;
}




.services{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.services-text{
    width: 100%;
}

.services-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-span-text{
    font-family: var(--primary-font);
    font-size: 54px;
    font-weight: 600;
    color: var(--primary-color);
    margin-left: -65px;
    padding-top: 20px;
}

.services-types{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-cols p{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}

.services-img{
    height: 500px;
    width: 350px;
}

.services-cols div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
}

.more-btn a{
    text-decoration: none;
    font-family: var(--secondary-color);
    font-weight: 500;
    color: var(--primary-color);
    font-size: 18px;
    margin: 0;
}



.next-btn{
    height: 60px;
    padding-left: 20px;
}




.workstages{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.workstage-header{
    display: flex;
    align-items: center;
    justify-content: center;
}


.workstage-span-text{
    font-family: var(--primary-font);
    font-size: 54px;
    font-weight: 600;
    color: var(--primary-color);
    margin-left: -45px;
    padding-top: 20px;
}

.workstage-type1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:-50px;
}

.stage-col{
    width: 40%;
}

.stage-row{
    display: flex;
    align-items: center;
}

.stage-no{
    /* margin-bottom: 0; */
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 125px;
    margin:0;
    padding: 0;
    font-weight: bold;
    position: relative;
    margin: 0;
    opacity: 0.2;
}

.stage-row div{
    padding-left: 60px;
}

.stage-title{
    padding-top: 40px;
    margin: 0;
    font-family: var(--secondary-color);
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 24px;
}

.stage-text{
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin: auto;
    padding-top: 10px;
}


.workstage-img{
    height: 550px;
    width: auto;
    padding-top: 50px;
}

.workstage-type2{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.gallery{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.gallery-header{
    display: flex;
    align-items: center;
    justify-content: center;
}


.gallery-span-text{
    font-family: var(--primary-font);
    font-size: 54px;
    font-weight: 600;
    color: var(--primary-color);
    margin-left: -60px;
}

.gallery-img{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img-col img{
    object-fit: cover;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    
}

.landscape{
    /* padding: 10px 0; */
    width: 400px;
    height: 300px;
}

.vertical{
    /* padding: 10px 0; */
    width: 400px;
    height: 600px;
}

.main-vertical{
    /* padding-top: 10px; */
    width: 400px;
    height: 600px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}


.testimonial{
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    /* justify-content: space-between; */
}

.testimonial-txt{
    width: 80%;
}

.testimonial-header{
    display: flex;
    align-items: center;
    justify-content: start;
}



.testimonial-span-text{
    font-family: var(--primary-font);
    font-size: 54px;
    font-weight: 600;
    color: var(--primary-color);
    margin-left: -75px;
    /* padding-top: 20px; */
    
}


.testimonial img{
    height: 800px;
    width: 50%;
}

.testimonial-name{
    /* padding-top: 40px; */
    margin: 0;
    font-family: var(--secondary-color);
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 24px;
}

.testimonial-date{
    padding-top: 15px;
    font-size: 16px;
    font-family: var(--secondary-color);
    color: var(--secondary-color);
}

.caption{
    padding-top: 20px;
    width: 70%;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    font-family: var(--secondary-color);
    /* color: var(--secondary-color); */
}

.caption-txt{
    width: 70%;
    font-size: 16px;
    padding-top: 20px;
    
}

.btns{
    margin: 40px auto;
    width: 130px;
    display: flex;
    padding-right: 20px;
    flex-direction: row;
    /* justify-content: start; */
}

.btns img{
    height: 30px;
}

.contact{
    width: 100%;
    margin-top: 100px;
    position: relative;
    /* background-image: linear-gradient(to right, #ECE9E6, #FFFFFF), url("images/contact.jpg"); */
}

.contact-form{
    margin-top: 150px;
    /* background-image: linear-gradient(to right, #ECE9E6, #FFFFFF), url("images/contact.jpg"); */
}

.contact img{
    width: 100%;  
    height: auto; 
}

.form-container{
    position: absolute;
    top: 150px;
    right: 100px;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    justify-content: center;
    width: 550px;
}

.form-title{
    margin: 20px auto;
    width: 60%;
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 900;
}

.form-text{
    margin: 20px auto;
    font-size: 20px;
    width: 60%;
    font-weight: 500;
    font-family: var(--secondary-color);
    color: var(--secondary-color);
}

.form-input{
    display: flex;
    flex-direction: column;
    padding: 0 75px;
}


.form-input input{
    border:0;
    border-bottom: 2px solid var(--primary-color);
    margin: 20px auto;
    width: 100%;
}

.form-input button{
    margin: 30px auto;
    margin-bottom: 100px;
    width: 100%;
    padding: 20px 100px;
    color: white;
    border: none;
    background-color: var(--primary-color);
}

.form-input input:focus{
    outline: none;
}


.footer{
    background-color: #E2E5E4;
    justify-content: center;
}

.footer-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-cols{
    padding: 50px 15px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.footer-cols h3{
    font-family: var(--primary-font);
    color: var(--primary-color);
    margin-bottom: 20px;
}

.footer-cols ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-cols ul li{
    font-family: var(--secondary-color);
    color: var(--secondary-color);
    padding-top: 10px;
}

.footer-cols ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    cursor: pointer;
}

h5{
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--secondary-color);
}











/* 

about-us page

*/

.breadcrumb{
    width: 100%;
    justify-content: start;
    margin: 0px 100px;
    font-family: var(--secondary-font);
}

.breadcrumb a{
    text-decoration: none;
}

.home-page{
    /* font-size: 18px; */
    font-weight: 600;
    color:var(--secondary-color);
    padding-right: 5px;
}

.page{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    padding-left: 5px;
}

.about-us-header{
    margin: -25px 100px;
    display: flex;
    align-items: center;
}

.hero-content{
    margin: 0 100px;
    /* width: 70%; */
    display:flex;
    justify-content: space-between;
    
}

.hero-content p{
    width: 50%;
    padding: 0 30px;
}

.abt-hero img{
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 100px auto;
    height: 650px;
}

.abt-info{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
 
}

.abt-info img{
    height: 700px;
    width: 500px;
}

.abt-info div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.abt-info div p{
    width: 50%;
    padding-bottom: 40px;
}

.abt-info div img{
    height: 300px;
    width: 500px;
}

.owner{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 100px auto; */
    margin: 0 auto;
}

.owner img{
    height: 700px;
    width: 500px;
    padding-top: 100px;
    margin-right: 200px;
}

.owner-header{
    margin-top: -25px;
    margin-left: -100px;
    display: flex;
    align-items: center;
}

.owner-story p{
    font-family: var(--secondary-color);
    margin-left: -75px;
}